body {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to top, black, rgb(31, 31, 31)) no-repeat;
    padding: 10px;
}

h1 {
    color: white;
}

form {
    background-color: #f4f4f4;
    width: min(30vw, 300px);
    padding: 20px;
    margin: auto;
}

#select-project {
    padding: 5px 20px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.card-body-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body button {
    font-weight: 700;
}

.complete-btn {
    margin-right: 10px;
}

.card-body h5 {
    flex: 1;
    margin: 0;
}

.expand-collapse {
    margin-left: 90%;
    cursor: pointer;
    width: 30px;
}

.expand-collapse:hover {
    transform: scale(150%);
}

label {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.editable {
    display: flex;
    width: 100%;
}

.editable p {
    flex: 1;
}

label[for="select-project"] {
    display: block;
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1px;
}

.project-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.task {
    width: max(800px, 50vw);
}
